@model Category
@{
    ViewBag.Title = "Delete";
}
<h2>
    Delete Category
</h2>
<h3>Are you sure you want to delete @Model.Name Category?</h3>
<form method="post">
    <input type="hidden" name="ID" value="@Model.ID" />
    
    <button type="submit">Yes Delete</button>

</form>
<a href="/Index">Cancel</a>